@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
#header{
    height: 65px;
    width: 100%;
    background-color: #ff00ff;
}
#menu{
    float: left;
    width: 200px;
    height: 600px;
    background-color: #00ff00;
    position: relative;
}
#mainContent{
    width: 900px;
    background-color: #c0c0c0;
}
#footer{
    clear: both;
    height: 65px;
    width: 100%;
    background-color: #000;
}
